VITE_API_URL=https://REPLACE_WITH_BACKEND_HOST
VITE_PROXY_URL=https://REPLACE_WITH_BACKEND_HOST
VITE_BACKEND_URL=https://REPLACE_WITH_BACKEND_HOST
VITE_WALRUS_AGGREGATOR_URL=https://REPLACE_WITH_BACKEND_HOST/api/walrus

VITE_SUI_NETWORK=testnet
VITE_SUI_RPC_URL=https://fullnode.testnet.sui.io
VITE_SUI_PACKAGE_ID=0x1ad12f0fd581dbd4fef7a30c9cff9bececfca1da450fe53257791502b3db073d
VITE_SUI_VOICE_REGISTRY_ID=0xfad2808bcd104197b53b1fddede5f25d5c16303b147d280c2aa7ff69d27e5d59
